[core]
    editor = vim
    excludesfile = ~/config/.gitignore_global
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    log = auto
[alias]
    st = status
    ci = commit
    co = checkout
    c-p = cherry-pick
    br = branch
    df = diff
    dfc = diff --cached
    ll = log --stat
    la = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
    template = ~/config/.stCommitMsg
[pull]
    rebase = true
[merge]
    ff = only
[rebase]
    autoStash = true
[init]
    defaultBranch = main
